.font{
    font-size: 1.15em;
}

.searchSectionContent{
    font-size: 14px;
    font-weight: 500;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 45px;
    background: rgb(234, 234, 234);
}

.fontLight{
    font-weight: 300;
    font-size: 16px;
    color: gray;
    line-height: 0em;
}

.btn{
    font-size: 1.15em;
    border-radius: 45px;
}

.btn:hover{
    box-shadow: inset 0 -3px 0 rgba(0,0,0,0.15);
}

.bgWhite{
    background-color: white;
    border-radius: 45px;
    width: 26%;
    height: 5.3em;
    margin: -16px;
    margin-left: -56px;
    text-align: center;
    padding-top: 1.5%;
}

.signIn{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 25px;
    padding: 1%;
    font-size: 18px;
}

/* .checkBg{
    background-color: white;
    border-radius: 45px;
    width: 64%;
    height: 5.25em;
    margin: -15px;
    margin-left: -62px;
    text-align: center;
    padding-top: 4.5%;
} */

/* .right{
    background-color: white;
    border-radius: 45px;
    height: 5.4em;
    width: 63%;
    margin: -16px;
    margin-right: -72px;
    text-align: center;
    padding-top: 1.5%;
    width: 50%;
    padding-left: 1.5%;
} */
